<h1>Payments#index</h1>

<script src="https://www.paypal.com/sdk/js?client-id=<%= ENV["CLIENT_ID"]%>&locale=ja_JP&currency=JPY&disable-funding=card&intent=capture"> // Replace YOUR_SB_CLIENT_ID with your sandbox client ID
</script>

<h1><%= @sample %></h1>
<div id="paypal-button-container"></div>

<script>
  paypal.Buttons({

    createOrder: function() {
    return fetch('/payments', {
        method: 'post',
        headers: {
        'content-type': 'application/json'
        }
    }).then(function(res) {
        return res.json();
    }).then(function(data) {
        return data.orderID; // Use the same key name for order ID on the client and server
    });
    },
    onApprove: function(data) {
    return fetch(`/payments/${data.orderID}/capture`, {
        method: 'post',
        headers: {
        'content-type': 'application/json'
        },
        body: JSON.stringify({
          orderID: data.orderID
        })
    }).then(function(res) {
        return res.json();
    }).then(function(details) {
        alert('Status: '+ details.status);
    })
    }
  }).render('#paypal-button-container'); // Display payment options on your web page
</script>
